﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>קופון להדפסה</title>
	<meta charset='utf-8' />
</head>
<body onload="print();">
    <img src="../Cupons/@ViewBag.cuponFile" />
</body>
</html>

