﻿@{
    ViewBag.Title = "רשימת פרסים";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>רשימת פרסים</h2>

<div class="k-rtl clear">
    <div id="DataGrid"></div>
</div>

<script>
    $(document).ready(function () {
        dataSource = new kendo.data.DataSource({
            transport: {
                read:  {
                    url: "/Azrieli/Ynet/Admin/AwardsGrid",
                    type: "GET",
                    complete: function(){
                        kendo.ui.progress($("#DataGrid .k-grid-content"), false);
                    }
                },
                update: {
                    url: "/Azrieli/Ynet/Admin/AwardUpdate",
                    type: "POST",
                    data: function (data) {
                        data.models[0].Terms = true;
                        return data.models[0];
                    }
                },
            },
            batch: true,
            serverPaging: true,
            pageSize: 20,
            schema: {
                data: function (data) {
                    return data.data;
                },
                total: function (data) {
                    return data.total;
                },
                model: {
                    id: "ID",
                    fields: {
                        ID: { editable: false, nullable: true },
                        Name: { type: "string", editable: false },
                        Amount: { type: "number", validation: { required: true, min: 0 } }
                    }
                }
            }
        });

        $("#DataGrid").kendoGrid({
            dataSource: dataSource,
            pageable: true,
            sortable: true,
            columns: [
                { field: "ID", title: "מזהה" },
                { field: "Name", title: "שם הפרס" },
                { field: "Amount", title: "כמות", format: "{0:d}" },
                { command: [{ name: "edit",
                    text: { edit: "שנה  כמות", cancel: "בטל", update: "שמור" }
                    }],
                    title: "&nbsp;", width: "300px"
                }],
            editable: "inline"
        });
    });
</script>