﻿@{
    ViewBag.Title = "רשימת משתמשים";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>רשימת משתמשים</h2>

<div id="form-wrapper">
    <form id="form-search">
        <div class="row">
            <div class="box">
                <label class="editor-label">שם מלא</label>
                <input class="editor-field" type="text" name="fullName" id="full-name" />
            </div>
            <div class="box">
                <label class="editor-label">דוא"ל</label>
                <input class="editor-field" type="text" name="email" id="email" />
            </div>
        </div>        
        <div class="row">
            <div class="box">
                <label class="editor-label">פייסבוק</label>
                <input class="editor-field" type="text" name="facebookID" id="facebook-ID" />
            </div>
        </div>
        <div class="row">
            <div class="buttn-borm box">
                <input type="submit" value="חפש" />
            </div>
        </div>
    </form>
</div>

<div class="k-rtl clear">
    <div id="DataGrid"></div>
</div>

<script>
    $(document).ready(function () {

        var $form = $("#form-search");
        var formData = $form.serialize().split('&');
        var formParams = {};
        $(formData).each(function () {
            var nvp = this.split('=');

            //Instead of setting a value to the param we set up a function to get the value
            formParams[nvp[0]] = function () {
                var $inputEl = $form.find('*[name=' + nvp[0] + ']').first();
                if ($inputEl.attr("type") == "checkbox") {
                    return $inputEl.is(':checked');
                } else {
                    return $inputEl.val();
                }
            };
        });

        dataSource = new kendo.data.DataSource({
            transport: {
                read:  {
                    url: "/Azrieli/Ynet/Admin/UsersGrid",
                    type: "GET",
                    data: formParams
                }
            },
            serverSorting: true,
            serverFiltering: true,
            serverPaging: true,
            pageSize: 20,
            schema: {
                data: function (data) {
                    return data.data;
                },
                total: function (data) {
                    return data.total;
                },
                model: {
                    id: "ID",
                    fields: {
                        ID: { type: "number" },
                        FullName: { type: "string" },
                        Email: { type: "string" },
                        Phone: { type: "string" },
                        FacebookID: { type: "string" },
                        RemainingGames: { type: "number" }
                    }
                }
            }
        });

        var grid = $("#DataGrid").kendoGrid({
            dataSource: dataSource,
            pageable: true,
            sortable: true,
            detailInit: detailInit,
            columns: [
                { field: "ID", title: "מזהה", width: 80 },
                { field: "FullName", title: "שם מלא", width: 200 },
                {
                    field: "Email", title: "דוא\"ל", width: 250,
                    template: "<a href='mailto:#=Email#' target='_blank' class='post-link'>#=Email#</a>"
                },
                { field: "Phone", title: "טלפון" },
                {
                    field: "FacebookID", title: "פייסבוק", width: 150, sortable: false,
                    template: "<a href='https://www.facebook.com/#=FacebookID#' target='_blank' class='post-link'>פרופיל פייסבוק</a>"
                },
                { field: "RemainingGames", title: "משחקים נותרים" }
            ],
            dataBound: function () {
            }
        }).data("kendoGrid");

        function detailInit(e) {
            var subGrid = $("<div/>").appendTo(e.detailCell).kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            url: "/Azrieli/Ynet/Admin/GamesGrid/" + e.data.FacebookID,
                            type: "GET",
                            data: formParams
                        }
                    },
                    schema: {
                        data: function (data) {
                            return data.data;
                        },
                        total: function (data) {
                            return data.total;
                        },
                        fields: {
                            ID: { type: "number" },
                            StartDate: { type: "string" },
                            EndDate: { type: "string" },
                            IP: { type: "string" },
                            AwardName: { type: "string" }
                        }
                    },
                    serverSorting: true,
                    serverPaging: true,
                    pageSize: 10,
                    filter: {
                        field: "UserID",
                        operator: "eq",
                        value: e.data.ID
                    }
                },
                columns: [
                    { field: "ID", title: "מזהה", width: 80 },
                    { field: "StartDate", title: "התחלה" },
                    { field: "EndDate", title: "סוף" },
                    { field: "IP", title: "IP", sortable: false },
                    { field: "AwardName", title: "שם הפרס", sortable: false }
                ],
                scrollable: false,
                sortable: true,
                pageable: true
            }).data("kendoGrid");
        }

        $("#form-search").submit(function (e) {
            e.preventDefault();
            grid.dataSource.read();
        });
    });
</script>