﻿@{
    ViewBag.Title = "רשימת פרסים";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>רשימת פרסים</h2>

<div class="k-rtl clear">
    <div id="DataGrid"></div>
</div>

<script>
    $(document).ready(function () {
        dataSource = new kendo.data.DataSource({
            transport: {
                read:  {
                    url: "WinnersGrid",
                    type: "GET"
                },
            },
            serverPaging: true,
            pageSize: 20,
            schema: {
                data: function (data) {
                    return data.data;
                },
                total: function (data) {
                    return data.total;
                },
                model: {
                    fields: {
                        ID: { type: "number" },
                        StartDate: { type: "string" },
                        FullName: { type: "string" },
                        Email: { type: "string" },
                        Phone: { type: "string" },
                        AwardName: { type: "string" }
                    }
                }
            }
        });

        $("#DataGrid").kendoGrid({
            dataSource: dataSource,
            pageable: true,
            sortable: true,
            columns: [
                { field: "ID", title: "מזהה" },
                { field: "StartDate", title: "תאריך" },
                { field: "FullName", title: "שם מלא", width: 200 },
                {
                    field: "Email", title: "דוא\"ל", width: 250,
                    template: "<a href='mailto:#=Email#' target='_blank' class='post-link'>#=Email#</a>"
                },
                { field: "Phone", title: "טלפון" },
                { field: "AwardName", title: "שם הפרס" },
            ]
        });
    });
</script>