﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>מערכת ניהול > @ViewBag.Title</title>

    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/kendo/js/kendo.web.min.js"></script>

    <link href="~/Scripts/kendo/styles/kendo.default.min.css" rel="stylesheet" />
    <link href="~/Scripts/kendo/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Scripts/kendo/styles/kendo.rtl.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Scripts/cp/style.css" />
</head>
<body>
    <div id="wrapper">
        <div id="Logos">
                <div class="logo mangonet"><img src="~/Scripts/cp/mangonet.jpg" alt="mangonet" /></div>
                <div class="logo partner"><img src="~/Scripts/cp/partner.png" alt="azrieli" /></div>
            </div>
            <h1>מערכת ניהול</h1>
            @if (User.Identity.IsAuthenticated) 
            {
                <div id="admin-menu">
                    <a href="~/Admin/Users">רשימת משתמשים</a> 
                    <span>|</span>
                    <a href="~/Admin/Awards">רשימת פרסים</a> 
                    <span>|</span>
                    <a href="~/">לעמוד הראשי</a>
                    <span>|</span>
                    <a href="~/Admin/Logout">יציאה</a>
                </div>
            }
        @RenderBody()
    </div>
</body>
</html>
