﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>האתר בבנייה > @ViewBag.Title</title>

    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/kendo/js/kendo.web.min.js"></script>

    <link href="~/Scripts/kendo/styles/kendo.default.min.css" rel="stylesheet" />
    <link href="~/Scripts/kendo/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Scripts/kendo/styles/kendo.rtl.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Scripts/cp/style.css" />
</head>
<body>
    <div id="wrapper">
        <div id="Logos">
                <div class="logo mangonet"><img src="~/Scripts/cp/mangonet.jpg" alt="mangonet" /></div>
                <div class="logo partner"><img src="~/Scripts/cp/partner.png" alt="azrieli" /></div>
            </div>
            <h1>האתר בבנייה</h1>
        @RenderBody()
    </div>
</body>
</html>
