﻿body {
  direction: rtl;
  font-family: Arial;
  margin: 0px;
  padding: 0px;
  border: none;
  text-decoration: none;
  text-align: right;
  overflow-x: hidden;
}
body .btn:hover {
  cursor: pointer;
}
.k-rtl div.k-grid td.k-hierarchy-cell{
    border-left-width: 1px !important;
}
.k-detail-row .k-secondary .k-grid-pager{
    display: none;
}

.clear {
  clear: both;
}
.btn {
  cursor: pointer;
}
ul.horizontal-menu {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
ul.horizontal-menu li {
  float: right;
}
a{
    text-decoration: none;
    color: #1b4a98
}
a:hover {
  cursor: pointer;
  text-decoration: underline;
}
img {
  border: none;
}

#wrapper{
    width: 1000px;
    margin: 0px auto;
    position: relative;
}

#Logos{
    width: 100%;
    position: relative;
    height: 80px;
}
    .logo{
        position: absolute;
        top: 20px;
    }
    .logo.mangonet{
        right: 0px;
    }
    .logo.partner{
        left: 0px;
        top: 0px;
    }

    h1{
        text-align: center;
        color: #0f356e;
        margin-top: 0px;
        font-size: 35px;
    }
    h2{
        font-size: 28px;
        text-align: center;
        color:#514f4f;
        margin-top: 0px;
    }
    h3{
        margin: 0px;
        font-size: 22px;
    }
    

    .row{
        width: 96%;
        padding: 8px 2% 8px;
        float: right;
        clear: both;
        background: #ebebeb;
        border-top: 1px solid #efefef;
    }
    .row:nth-child(even){
        background: #f0f0f0;
    }
        .row .box{
            margin-left: 50px;
            float: right;
        }
            .row .box .editor-label{
                float: right;
                margin-left: 15px;
                width: 90px;
                font-weight: bold;
                margin-top: 4px;
            }

            .row .box .editor-field{
                float: right;
                width: 250px;
                font-size: 17px;
                height: 25px;
            }
            .row .box #email{
                direction: ltr;
            }

            .row input[type=submit]{
                float: left;
                margin-left: 5px;
            }
#DataGrid th a.k-link{
    color: #2551ac !important;
}
    #login-form{
        width: 300px;
        margin: 0px auto;
    }
    #login-form .row{
        background: #fff;
    }
        .field-validation-error, .validation-summary-errors li{
            color: #de0303;
        }
    #admin-menu{
        margin: 0px auto 10px;
        width: 365px;
    }
        